@keyframes fa-solid {
    /* start of animation */
    0% {
        bottom: 50%;
        right: 70%;
    }
    /* end of animation  */
    100% {
        bottom: 83%;
        right: 10%;
        opacity: 0%;
    }
}

.fa-heart, .fa-bolt, .fa-droplet, .fa-fire{
    position: absolute;
    display: none;
    &.textAppear{
        display: block;
        animation: fa-solid 2.5s 1;
        font-size: 3rem;
        animation-fill-mode: forwards;
    }
}
