.opponentSprite{
    flex-basis: 50%;
    img{
        min-height: 200px;
    }
}

.user {
    display: flex;
    flex-basis: 100%;
    min-height: 200px;
}

.opponent {
    display: flex;
    flex-basis: 100%;
    min-height: 200px;
}

.userName {
    flex-basis: 50%;
    h2{
        width: 50%;
        background-color: white;
        margin: auto;
        position: absolute;
        right: 5%;
    }
}

.opponentName {
    flex-basis: 50%;
    h2{
        margin: auto;
        width: 50%;
        background-color: white;
        position: absolute;
    }
}

.userSprite {
    flex-basis: 50%;
    img{
        min-height: 200px;
    }
}

.battle{
    display: flex;
    flex-basis: 100%;   
    background-color: white;
    box-shadow:
        0 0 2px 5px rgb(255, 182, 193),
        2px 2px 2px 5px red;
    .decideWinner{
        border-right: 4px solid rgb(255, 182, 193)
    }
}

.randomize{
    flex-basis: 100%;
    background-color: rgba(90, 90, 90, 75%);
    h2{
        color: rgb(225 217 209);
        &:hover, &:focus {
            color: black;
        }
    }
}

.decideWinner{
    flex-basis: 50%;
}

.fight{
    // background-color: blue;
    flex-basis: 50%;
}

.fightBoxContainer{
    background-color: rgb(255,211,233) ;
    box-shadow:
        0 0 2px 5px rgb(255, 182, 193), 
        2px 2px 2px 5px red;
    display: flex;
        flex-basis: 100%;
        min-height: 150px;
        justify-content: space-between;
        flex-wrap: wrap;
        div {
            flex-basis: 50%;
        }
}

.textVisible{
    display: block;
}

.textInvisible {
    display: none;
}

.backInvisible {
    display: none;
}

.textAppear {
    display: block;
}

.moveOne, .moveTwo , .moveThree, .moveFour {
    display: none;
    &.textAppear {
        display: block;
    }
}

.moveOne{
    border-right: 4px solid rgb(255, 182, 193);
    border-bottom: 4px solid rgb(255, 182, 193);    
}

.moveTwo{
    border-bottom: 4px solid rgb(255, 182, 193);
}

.moveThree{
    border-right: 4px solid rgb(255, 182, 193);
}